

{{#each this}}
<div class="template" id="entry-template">
        <h2>Назва картини: {{this.title}}</h2>
        <h3>Автор: {{this.author}}</h3>
        <div class="img-wrapper"><img src="{{this.img_url}}" alt="{{this.thumbnail.alt_text}}"></div>
        <div class="description desc-js">
            <a class="btn-js">показати опис</a>
            <div class="hidden">
                {{{this.description}}}
            </div>
        </div>
</div>
{{/each}}
